body{
    background-color: lightgrey;
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    color: #333333;
}

h2{
    text-align: center;
    font-family: sans-serif;
    color: #333333;
}

a{
    margin-left: 43%;
    background-color: #575db2;
    border-radius: 5px;
    border: none;
    padding: 15px 32px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    background-color: #2a2d59;
}

input{
    margin-bottom: 5px;
    width: 334px;
}

input[type="submit"]{
    width: 350px;
}

input[name="reset"]{
    margin-left: 17%;
}

textarea{
    resize: none;
    margin-bottom: 5px;
    margin-top: -15px;
}

p{
    text-align: center;
}

form{
    margin-left: 25%;
}