body{
    background-color: lightgrey;
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    color: #333333;
}

button{
    background-color: #03ce6f;
    border-radius: 5px;
    border: none;
    padding: 15px 32px;
    color: white;
    cursor: pointer;
    margin-bottom: 15px;
}

#back{
    margin-left: 43%;
}

#display{
    margin-left: 40%;
}

button:hover {
    background-color: #00914d;
}

p{
    font-size: 25px;
    text-align: center;
}